---
layout: default
---

<div class="well">
  <h1>External blog posts</h1>
  <ul>
    <li><a href="https://ourcodingclub.github.io/2019/01/07/pandas-time-series.html">2019/01 - Time series analysis with pandas</a></li>
    <li><a href="https://eox.at/2018/10/building-a-python-interface-to-vires/">2018/10 - Building a Python interface to VirES</a></li>
  </ul>
</div>

<div class="well">
{%for post in site.posts %}
    {% unless post.next %}
        <h1>{{ post.date | date: '%Y' }}</h1>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h1>{{ post.date | date: '%Y' }}</h1>
            <ul>
        {% endif %}
    {% endunless %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d" }} - {{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
